# Aggregation

In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("Data/grocery.csv")
df

         Type         Items  Price InStock
0       Fruit         Apple    100     Yes
1       Fruit        Orange    200     Yes
2       Fruit        Grapes    300     Yes
3       Fruit         Peach    350     Yes
4       Fruit        Banana     60     Yes
5       Fruit        Papaya     50     Yes
6       Fruit    Pine Apple    100     Yes
7       Fruit   Pomogranate    250      No
8       Fruit  Dragon Fruit    400      No
9       Fruit   Water Melon    150      No
10  Vegetable        Potato     40     Yes
11  Vegetable         Onion     30     Yes
12  Vegetable   Cauliflower     40     Yes
13  Vegetable       Cabbage     50     Yes
14  Vegetable      Cucumber     70     Yes
15  Vegetable       Spinich     30     Yes
16  Vegetable        Garlic    150     Yes
17  Vegetable        Ginger    160      No
18  Vegetable         Beans     80     Yes
19  Vegetable      Capcicum     60     Yes

In [3]:
df_gb=df.groupby(['Type'])
df_gb

#### 1. What is Aggregation. How to do Aggregation in Pandas

In [4]:
df_gb.size()

Type
Fruit        10
Vegetable    10
dtype: int64

In [5]:
df_gb['Price'].mean()

Type
Fruit        196
Vegetable     71
Name: Price, dtype: int64

#### 2. How Apply multiple aggregation functions at once

In [6]:
df_gb.agg([np.sum,np.mean,np.std])

          Price
            sum mean         std
Type
Fruit      1960  196  124.472219
Vegetable   710   71   47.246399

#### 3. Renaming the Column names for aggregate functions

In [7]:
df_gb.agg([np.sum,np.mean,np.std]).rename(columns={
    "sum":"Count",
    "mean":"Avg",
    "std":"StandardDeviation"
})

          Price
          Count  Avg StandardDeviation
Type
Fruit      1960  196        124.472219
Vegetable   710   71         47.246399

#### 4. Named Aggregation

#### 5. Custom Agg function