# Create DataFrames In Pandas

In [ ]:
import pandas as pd

#### 1. Create DataFrames using JSON Data

In [5]:
fruitBowl={'Fruits':['Apple','Orange','Grapes','Banana'],
          'Price':['100','150','200','60']}

In [9]:
dfJson=pd.DataFrame(fruitBowl)
print(dfJson)
type(dfJson)

   Fruits Price
0   Apple   100
1  Orange   150
2  Grapes   200
3  Banana    60

pandas.core.frame.DataFrame

#### 2. Create DataFrames Using List

In [12]:
fruitLst=['Apple','Orange','Grapes']
price=['100','200','300']

In [15]:
dfList=pd.DataFrame(list(zip(fruitLst,price)),columns=['Fruits','Price'])
print(dfList)

   Fruits Price
0   Apple   100
1  Orange   200
2  Grapes   300

#### 3. Creating Multiple Columns DataFrame

#### 4. Creating DataFrame From List Of JSON Data

In [16]:
listJson=[{'Fruit':'Apple','Price':100},{'Fruit':'Orange','Price':200},{'Fruit':'Grapes','Price':300}]

In [17]:
dfListJson=pd.DataFrame(listJson)
print(dfListJson)

    Fruit  Price
0   Apple    100
1  Orange    200
2  Grapes    300

#### 5. Creating DataFrame From CSV

In [21]:
dfCsv=pd.read_csv('Data/fruitBowl.csv')
print(dfCsv)
type(dfCsv)

   Fruits  Price
0   Apple    100
1  Orange    200
2  Grapes    300

pandas.core.frame.DataFrame