# Join Vs. Merge Vs. Concat

In [1]:
import pandas as pd

# Join

In [2]:
df1=pd.DataFrame({'Key':['X','Y'],
                'A':['A1','A2'],
                 'B':['B1','B2']})
df1.set_index("Key",inplace=True)
df1

      A   B
Key
X    A1  B1
Y    A2  B2

In [3]:
df2=pd.DataFrame({'Key':['X','Z'],
                'A':['A1','A2'],
                 'C':['B1','B2']})
df2.set_index("Key",inplace=True)
df2

      A   C
Key
X    A1  B1
Z    A2  B2

In [4]:
df1.join(df2,lsuffix='_df1',rsuffix="_df2", how='left')

    A_df1   B A_df2    C
Key
X      A1  B1    A1   B1
Y      A2  B2   NaN  NaN

In [5]:
df1.join(df2,lsuffix='_df1',rsuffix="_df2", how='right')

    A_df1    B A_df2   C
Key
X      A1   B1    A1  B1
Z     NaN  NaN    A2  B2

In [6]:
df1.join(df2,lsuffix='_df1',rsuffix="_df2", how='inner')

    A_df1   B A_df2   C
Key
X      A1  B1    A1  B1

In [7]:
df1.join(df2,lsuffix='_df1',rsuffix="_df2", how='outer')

    A_df1    B A_df2    C
Key
X      A1   B1    A1   B1
Y      A2   B2   NaN  NaN
Z     NaN  NaN    A2   B2

In [8]:
df1.join?

# Merge

In [13]:
df1.merge(df2,on='A',left_index=True)

      A   B   C
Key
X    A1  B1  B1
Z    A2  B2  B2

In [18]:
df1.merge(df2,on='A',left_index=True,right_index=True, how='right')

       A    B   C
Key
X     A1   B1  B1
Z    NaN  NaN  B2

In [19]:
df1.merge?

# Concat

In [30]:
pd.concat([df1,df2],join='outer',axis=0)

F:\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

      A    B    C
Key
X    A1   B1  NaN
Y    A2   B2  NaN
X    A1  NaN   B1
Z    A2  NaN   B2

In [31]:
pd.concat?